@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
:root{
    
   --white:hsl(0,0%,100%);
   --bg-color:hsl(212, 45%, 89%);
   --p-color:hsl(220, 15%, 55%);
   --heading-color:hsl(218, 44%, 22%);

}

    /* Josh comeau reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* style begins */
  body{
    font-family:"Outfit",serif;
    font-size:15px;
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
  }
  .container{
    margin:2em;
    background-color:var(--white);
    width:330px;
    border-radius:15px;
  }
  .main{
    margin: 1em;
    
  }
  .main .img,.img img{
    border-radius:15px;
  }
.text-wrap{
    margin: 1.3em;
    display:flex;
    flex-direction: column;
    gap:15px ;
}
.para{
    text-align: center;
    color: var(--p-color);
    font-weight:400;
   
}
.heading{
    color: var(--heading-color);
    text-align: center;
    font-weight: 700;
}